@charset "utf-8"; //这里必须加分号

/*------------------------样式重置-------------------------------*/

body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-family: "微软雅黑";
}

input,
a {
    outline: none;
}

em {
    font-style: normal;
}

mark {
    background: 0;
}

strong {
    font-weight: 100;
}

body {
    font-size: 12px;
}

//=========================detailmain==========================
body {
    background: #FCFCFC;
}

#detailMain {
    min-height: 500px;
    height: auto!important;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    .dMainTit {
        height: 45px;
        width: 1200px;
        line-height: 45px;
        a {
            color: #383944;
            padding: 0 5px;
        }
        span {
            color: #383944;
            ;
        }
    }
    .dMainHead {
        width: 1200px;
        height: 640px;
        margin: 0 auto;
        margin-bottom: 100px;
        background: #fff;
        border: 1px solid #ddd;
        box-sizing: border-box;
        padding: 20px;
        .dMainHead_l {
            width: 450px;
            height: 100%;
            float: left;
            position: relative;
            margin-right: 58px;
            .midImg {
                width: 450px;
                height: 450px;
                img {
                    width: 450px;
                    height: 450px;
                }
                .magnifier {
                    position: absolute;
                    top: 0;
                    box-sizing: border-box;
                    width: 225px;
                    height: 225px;
                    border: 1px solid #aaa;
                    background: red;
                    z-index: 999;
                    background: #fff;
                    opacity: 0.5;
                    cursor: pointer;
                }
            }
            .smallImg {
                height: 63px;
                box-sizing: border-box;
                span {
                    float: left;
                    width: 14px;
                    height: 100%;
                    cursor: pointer;
                    background: url(../img/goods_ico01.gif) no-repeat center;
                    &:nth-of-type(2) {
                        background: url(../img/goods_ico02.gif) no-repeat center;
                    }
                }
                a {
                    width: 60px;
                    height: 60px;
                    float: left;
                    border: 1px solid #efefe8;
                    margin: 0 8px;
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    &:hover,
                    &.hover {
                        border: 1px solid #1e76cf;
                    }
                }
            }
            .showImg {
                height: 500px;
                width: 500px;
                position: absolute;
                background: #ffffff;
                border: 1px solid #CCCCCC;
                overflow: hidden;
                left: 500px;
                top: 0px;
                z-index: 888;
                img {
                    width: 1000px;
                    height: 1000px;
                    position: absolute;
                }
            }
        }
        .dMainHead_r {
            float: left;
            height: 100%;
            width: 650px;
            h2 {
                color: #333;
                font-size: 16px;
                line-height: 26px;
            }
            .shopStyle {
                color: #ff3333;
                line-height: 22px;
            }
            .dprice {
                height: 62px;
                padding: 15px;
                background-color: #fafafa;
                box-sizing: border-box;
                margin: 10px 0;
                span {
                    line-height: 40px;
                    float: left;
                    color: #333;
                }
                em {
                    color: #ff3333;
                    line-height: 32px;
                    font-size: 26px;
                    float: left;
                }
                strong {
                    font-size: 26px;
                    line-height: 32px;
                    font-weight: bold;
                    color: #ff3333;
                    float: left;
                }
                a {
                    float: left;
                    line-height: 32px;
                    color: #1e76cf;
                    padding: 0px 10px;
                    display: block;
                    background-color: #fff;
                    border: 1px solid #1e76cf;
                    margin-left: 20px;
                }
            }
            .judge {
                height: 30px;
                box-sizing: border-box;
                span {
                    float: left;
                }
                img {
                    float: left;
                    margin: 0 10px;
                }
                a {
                    float: left;
                }
            }
            .store {
                height: 30px;
                box-sizing: border-box;
                line-height: 30px;
                a {
                    padding: 3px 8px;
                    border: 1px solid #ff3333;
                    margin-left: 20px;
                }
            }
            .rom {
                height: 30px;
                line-height: 20px;
            }
            .color {
                height: 30px;
                margin: 10px 0;
                a {
                    padding: 3px 8px;
                    border: 1px solid #ddd;
                    margin-left: 20px;
                    &:nth-of-type(1) {
                        border: 1px solid #ff3333;
                    }
                }
            }
            .addr {
                height: 30px;
                line-height: 30px;
                position: relative;
                margin: 10px 0;
                a {
                    padding: 5px 8px;
                    border: 1px solid #ddd;
                    margin-left: 20px;
                }
                span {
                    position: absolute;
                    height: 0;
                    width: 0;
                    border-top: 4px solid #317EE7;
                    border-right: 4px solid #FCFCFC;
                    border-bottom: 4px solid #FCFCFC;
                    border-left: 4px solid #FCFCFC;
                    right: 0;
                    top: 10px;
                }
            }
            .quantity {
                height: 30px;
                line-height: 30px;
                span {
                    float: left;
                    padding-right: 20px;
                }
                em {
                    float: left;
                    width: 26px;
                    height: 26px;
                    border: 1px solid #eeeee7;
                    box-sizing: border-box;
                    cursor: pointer;
                    background: url(../img/buy_ico01.png) no-repeat center;
                    &:nth-of-type(2) {
                        background: url(../img/buy_ico02.png) no-repeat center;
                    }
                }
                input {
                    width: 40px;
                    height: 26px;
                    float: left;
                    border: 0;
                    border-top: 1px solid #eeeee7;
                    border-bottom: 1px solid #eeeee7;
                    text-align: center;
                    box-sizing: border-box;
                }
            }
            .buyItem {
                height: 42px;
                padding-left: 30px;
                margin-top: 20px;
                a {
                    width: 160px;
                    float: left;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 40px;
                    color: #ff3333;
                    width: 160px;
                    text-align: center;
                    background-color: #FFE8E8;
                    margin-right: 15px;
                    border: 1px solid #ff3333;
                    margin-right: 20px;
                    &:nth-of-type(2) {
                        color: #fff;
                        background-color: #ff3333;
                        border: 1px solid #ff3333;
                    }
                }
            }
        }
    }
}