@charset "utf-8";//这里必须加分号
/*------------------------样式重置-------------------------------*/
body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,figure,figcaption{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
em{font-style: normal;}
mark{background: 0;}
strong{font-weight: 100;}
body{font-size: 12px;}
//================header
header{
    height: 83px;
    background: #fcfcfc;
    box-sizing: border-box;
    padding: 10px 0;
    #logo{
        padding-left:144px ;
    }
}

//===================logo_main

#logo_main{
    height: 491px;
    box-sizing: border-box;
    padding: 28px 0;
    background: #010834;
    position: relative;
    .lm_pic{
        width: 1200px;
        height: 435px;
        margin:auto;
        left: 0;
        right: 0;
        position: absolute;
        a{
            display: block;
            height: 100%;
            width: 100%;
        }
    }
    
    .login_box{
        height: 435px;
        width: 375px;
        box-sizing: border-box;
        background: #fff;
        position: absolute;
        margin-right: -502px;
        font-size: 14px;
        right: 50%;
        padding: 24px 34px 0;
        
        .login_tit{
            height: 29px;
           box-sizing: border-box;
            font-size: 16px;
            line-height: 29px;
            font-weight: bold;
           span{
               float: left;
               color: #202020;
           }
           a{
               float: right;
               color:#008cd6 ;
           }
           
        }
        .error{
            height: 23px;
            margin-bottom: 3px;
            p{
                line-height:23px;
                text-indent: 29px;
                color: #ff0000;
                background:#f0f0f0 url(../img/icon_error.png) no-repeat 11px center;
                margin-bottom: 3px;
                height: 100%;
                width: 100%;
            }
        }
        #login_name,#login_psd{
            height: 40px;
            width: 100%;
            text-indent: 10px;
            border: 1px solid #d9d9d9;
            line-height: 40px;
            
            margin-bottom: 16px;
            outline: none;
            color: #9b9b9b;
        }
        #login_name{
            background:url(../img/icon_login.png) no-repeat 278px 0 ;
        }
        #login_psd{
            background:url(../img/icon_login.png) no-repeat 278px -40px ;
        }
        
        .codeItem{
            height: 42px;
            overflow: hidden;
            margin-bottom: 10px;
            #code{
                height: 42px;
                box-sizing: border-box;
                border: 1px solid #d9d9d9;
                line-height: 42px;
                color: #9b9b9b;
                text-indent: 10px;
                float: left;
                width: 138px;
            }
            .getCode{
                width: 150px;
                float: right;
                margin-bottom: 16px;
                
               .codeShare{
                   height: 42px;
                   display: block;
                   width: 86px;
                   box-sizing: border-box;
                   float: left;
                   border: 1px solid #d9d9d9;
                   img{
                       height: 42px;
                       width: 86px;
                   }
               }
               .changeCode{
                   float: right;
                   line-height: 42px;
                   color:#070707
               }
            }
            
            
        }
        
        .loginhelp{
            height: 36px;
//            background: red;
            position: relative;
            color: #333;
            label{
                display: inline-block;
//               background: bisque;
                 margin-left: 24px;
            }
            #autoLogin{
                position: absolute;
               margin-top:0px;
                top: 3px;
            }
            a{
                float: right;
            }
        }
        
        .login_submit{
            margin-bottom: 20px;
            width: 100%;
            a{
                display: block;
                height: 43px;
                width: 100%;
                text-align: center;
                line-height: 43px;
                color: #fff;
                font-size: 16px;
                background: #0286CB;
            }
        }
        .login_other{
            p{
                height: 24px;
                
                color: #9b9b9b;
                
            }
            a{
                float: left;
                width: 41px;
                height: 41px;
                margin-right: 10px;
            }
        }
    }
    
    
    
}
